{:greeting "Hello World!"
 :flavor #my/flavor :favorite
 :dumb-term #aero/join ["Terminal is " #aero/env TERM]
 :smart-term #aero/join ["Terminal is " #aero/or [#aero/env NONE "smart"]]
 :dumb-term-envf #aero/envf ["Terminal is %s" TERM]
 :flavor-string #aero/join ["My favorite flavor is " #aero/or [#aero/env TERM "flaa"] " " #my/flavor :favorite]
 :test ^:ref [:greeting]
 :remote #aero/include "included.edn"
 :test-nested ^:ref [:test]
 :port #aero/profile {:dev 8000
                      :prod 80}
 :True-boolean #aero/boolean "True"
 :true-boolean #aero/boolean "true"
 :false-boolean #aero/boolean "false"
 :trivial-false-boolean #aero/boolean "OTHER"
 :nil-false-boolean #aero/boolean ""
 :long #aero/long "1234"
 :double #aero/double "4567.8"
 :keyword #aero/keyword "foo/bar"
 :already-a-keyword #aero/keyword :foo/bar
 :env-keyword #aero/keyword #aero/or [#aero/env KEYWORD "abc"]
 :dummy #aero/or [#aero/env "DUMMY" "dummy"]
 :triple-or #aero/or [#aero/env "DUMMY" #aero/prop "DUMMY" "dummy"]
 :prop #aero/prop "DUMMY"
 :network-call #my/expensive-network-call 7
 :test-read-str #aero/read-edn "[:foo :bar :baz]"
 :test-read-env #aero/read-edn #aero/prop DUMMY_READ

 :referencing-network-call ^:ref [:network-call]

 :key-part :b
 :refer-me {:a {:b {1234 :sentinel}}}
 :complex-ref #aero/ref [:refer-me :a #aero/ref [:key-part] #aero/ref [:long]]}
