{:greeting "Hello World!"
 :flavor #myflavor :favorite
 :dumb-term #envf ["Terminal is %s" TERM]
 :smart-term #envf ["Terminal is %s" [NONE "smart"]]
 :flavor-string #format ["My favorite flavor is %s %s" #env [TERM "flaa"] #myflavor :favorite]
 :test #path [:greeting]
 :remote #file "test/aero/withschema.edn"}
