{:greeting "Hello World!"
 :flavor #myflavor :favorite
 :dumb-term #envf ["Terminal is %s" TERM]
 :smart-term #envf ["Terminal is %s" [NONE "smart"]]
 :flavor-string #join ["My favorite flavor is " #env [TERM "flaa"] " " #myflavor :favorite]
 :test ^:ref [:greeting]
 :remote #file "test/aero/included.edn"
 :test-nested ^:ref [:test]}
