version: 2

jobs:
  test:
    docker:
      - image: circleci/clojure:lein-2.8.1

    steps:
      - checkout
      - run: npm install -g lumo-cljs
      - run: lein test
        
workflows:
  version: 2
  test:
    jobs:
      - test
